body {

    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    -webkit-font-smoothing: antialiased;
    padding: 0 20px;
    margin: 2.0625rem auto 3.75rem;
    max-width: 1015px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
	color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 0.6em;
}

li a:hover {
	color: #00b39b;
}

.logo{
    width: 268px;
    height: 33px;
}

.logo2{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    text-align: center;
    color: #00b39b ;
}
.section{
	zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
  
}

.container-1{
    display:flex;
    justify-content: space-around;
   
}

.container-1 div{
  border:1px #ccc solid;
  padding:10px;
  width: 27%;
}
.box-1{
    background-color: rgb(24, 222, 199);
    
}
.box-2{
    background-color: rgb(36, 82, 173);

}
.box-3{
    background-color: rgb(5, 5, 36);
}
.container-2{
    display: flex;
    justify-content: space-around;
}
.container-2 div{
    border: 1px #ccc solid;
    padding:10px;
    width: 27%
}
.box-2-1{}
.box-2-2{}
.box-2-3{}
.box-2-4{}
.footer{
	    text-align: center;
}
#div1 { 
  display: flex;
}